<div class="caller-app-homepage-wrapper">
    <h1 class="caller-app-home-title">Welcome to Caller Homepage</h1>

    <p class="caller-app-home-link-info">
       <%= link_to "Sign In Here", new_sessions_path%>
    </p>
</div>
